<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
     <listeners>
         <listener class-name="org.uncommons.reportng.HTMLReporter">

         </listener>
         <listener class-name="org.uncommons.reportng.JUnitXMLReporter">
         </listener>
     </listeners>

    <test name="DemoTesting">

        <classes>
            <class name="com.cloud.test.UserStories.LoginTest">
                <methods>
                    <include name="TC01_Title"/>
                </methods>
        </class>
            <class name="com.cloud.test.UserStories.HomePageTest">
                <methods>
                    <include name="TC02"/>
                </methods>
            </class>


            <class name="com.cloud.test.UserStories.ContactTest">
                <methods>
                    <include name="tc01"/>
                </methods>
            </class>


            <class name="com.cloud.test.UserStories.FilePageTest">
                <methods>
                    <include name="TC01"/>
                </methods>
            </class>



            <class name="com.cloud.test.UserStories.ActivityPageTest">
                <methods>
                    <include name="TC01_verifyPageTitle"/>
                </methods>
            </class>





        </classes>

    </test>





</suite>









